h1,h2,h3,h4{
    font-family: "Noto Serif TC";
}

#team{
    width: 100%;
    height: 1500px;
    margin: 0 auto 200px;
    text-align: center;
}

.teamWord{
    text-align: left;
    padding-left: 100px;
}

.team{
    width: 100%;
    margin: 100px auto 50px;
    display: flex;
}

.camera{
    text-align: right;
    position: relative;
    right: -30px;
    top: -120px;
    opacity: 30%;
    z-index: 1;
}

.camera img{
    width: 200px;
}

.teamLeft img{
    width: 300px;
    box-shadow: -15px -15px 0 white; 
}

.team h3{
    display: inline;
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
    letter-spacing: 5px;
    font-weight: 600;
}

.team h4{
    font-size: 16px;
    letter-spacing: 3px;
    width: 250px;
    text-align: center;
    padding-top: 15px;
}

.teamLeft{
    width: 50%;
    text-align: right;
    padding-right: 30px;
}

.teamRight{
    width: 50%;
    text-align: left;
    padding-left: 50px;
    padding-top: 140px;
}

/* -----------------手機版----------------- */

@media screen and (max-width:768px){
    #team{
        margin-bottom: 100px;
        height: 1800px;
    }
    
    .team{
        display: block;
        width: 90%;
        height: 550px;
        margin: 100px auto 100px;
    }

    .teamLeft{
        width: 100%;
        margin: 0 auto 25px;
        text-align: center;
        padding-right: 0px;
    }
    
    .teamRight{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding:0;
    }

    .teamRight h4{
        width: 100%;
    }

    .team p{
        margin: 0 auto;
    }

    .camera{
        top: 0;
    }

}

@media screen and (max-width:500px){
    .teamWord{
        padding-left: 50px;
    }

}