h1,h2,h3,h4{
    font-family: "Noto Serif TC";
}

#com_nav{
    position: relative;
    z-index: 1;
}

#idea{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
    bottom: 30px;
}

.idea{
    width: 750px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0; 
    border-radius: 20px;
}

#idea h1,#place h1{
    font-size: 40px;
    margin: 0 15px;
}

.idea p{
    font-size: 20px;
}

.br{
    display: none;
    height: 17px;
}

.br_500{
    display: none;
}

#place{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

#en-h2{
    display: none;
}

#cloud{
    position:relative;
    bottom:500px;
}

.mapBox{
    margin: 75px auto 0;
    width: 90%;
    height: 50vw;
    display: flex;
}

.map{
    width: 50%;
    height: 43.4vw;
    padding: 20px;
    position: relative;
    justify-content: center;
}

#beer{
    position:absolute;
    top:-150px;
    right: -100px;
}

.com_map_word{
    width: 450px;
    text-align: left;
    margin-top: 25px;
}

.phone_map_word{
    display: none;
}

.map h3{
    display: none;
}

#teamBox{
    height: 900px;
    position: relative;
}

#team_cloud_top{
    position: absolute;
    top: 0;
    right: -130px;
}

#team_cloud_bottom{
    position: absolute;
    bottom: 0;
    left: -130px;
}

.crewBox{
    width: 500px;
    height: 550px;
    background: url(./photo/about/crew.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: 175px;
}

#team{
    position: absolute;
    top: -70px;
    left: -50px;
}

.crewBox h2,#crew_p{
    text-align: right;
    position: relative;
    top: 30px;
    right: 50px;
}

#crew_p{
    font-family: LucidaGrande;
    font-weight: bold;
    right: 52px;
}

.crew{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.crew_word{
    display: inline-block;
    width: 30%;
}

.crew_word p{
    display: inline;
    position:relative;
    bottom:88px;
    left: 32px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.crew_word img{
    transition: 0.3s;
    display: block;
    margin: auto;
}

#crew4,#crew5,#crew6{
    position: relative;
    left: 10px;
}

.crew_popup{
    display: none;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0,0.8);
    text-align: center;
}

.popupBox{
    width: 60%;
    height: 85%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
}

.popup{
    background: url(./photo/about/crew_popup.png);
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.popup h3{
    width: 100%;
    font-size: 42px;
    text-shadow: 2px 2px rgb(137, 102, 62,0.4);
    color:#725535;
    font-weight:bold;
    position: relative;
    top: -50px;
}

#crew_popup3 h3{
    font-size: 28px;
    top: -40px;
    left: 12px;
}

.popup p{
    color:#947046;
    font-size: 20px;
    width: 100%;
    position: relative;
    top: -30px;
    margin: 20px auto;
}

.people{
    display: inline-block;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 25px;
}

#crew_popup2 .people,#crew_popup3 .people,#crew_popup5 .people,#crew_popup6 .people{
    width: 200px;
}

#crew_popup1 .people{
    height: 300px;
}

.people p{
    top: 0;
    left: 0;
    margin: 10px auto;
}

.people span{
    display: block;
    width: 100%;
    color: #947046;
    position: absolute;
    top: 175px;
    line-height: 1.8;
}

.crew_wood{
    position:relative;
    top:30px;
    display:block;
    margin:auto;
}

#teachers{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    position: relative;
    bottom: 150px;
}

.teacherWord span{
    font-size: 36px;
    position: relative;
    left: 5px;
    top: 5px;
}

.teacher{
    width: 100%;
    margin: 100px auto 80px;
    display: flex;
}

.teacher h4{
    font-size: 30px;
}

.teacher p{
    width: 350px;
    font-size: 18px;
}

.teacherLeft{
    width: 50%;
    text-align: right;
    padding-right: 30px;
}

.teacherRight{
    width: 50%;
    text-align: left;
    padding-left: 30px;
}

/* -----------------手機版----------------- */
@media screen and (max-width:1024px){
    #idea{
        padding-top: 120px;
        bottom: 80px;
        height: 550px;
    }

    #cloud{
        bottom:350px;
    }

    #place{
        position: relative;
        bottom: 80px;
        padding-top: 120px;
    }

    #en-h2{
        display: block;
        font-family: LucidaGrande;
        font-size: 20px;
        letter-spacing: 5px;
    }

    #beer{
        width: 150px;
        top:-100px;
        right: -70px;
    }

    .com_map_word{
        display: none;
    }

    .phone_map_word{
        display: block;
        width: 100%;
    }

    .phone_map_word p{
        font-size: 20px;
        letter-spacing: 5px;
        line-height: 1.8;
    }

    .map h3{
        display: block;
        margin-top: 20px;
    }

    .phone_map_word_br{
        display: none;
    }

    #teamBox{
        bottom: 100px;
        padding-top: 35px;
        height: 650px;
    }

    #team{
        width: 150px;
        top: -120px;
        padding-top: 100px;
    }

    .crewBox{
        height: 500px;
        top: 150px;
    }

    .crew{
        position: relative;
        left: 6px;
        top: 25px;
    }

    .crewBox h2, #crew_p{
        top: 20px;
    }

    #teachers{
        padding-top: 150px;
        bottom: 100px;
    }
}

@media screen and (max-width:768px){
    .idea{
        width: 500px;
    }

    .idea p{
        font-size: 18px;
        letter-spacing: 4px;
    }

    .br{
        display: block;
        height: 14px;
    }

    .map{
        padding: 10px;
    }

    #beer{
        width: 120px;
    }

    .phone_map_word{
        margin-top: 50px;
    }

    .phone_map_word h2{
        font-size: 28px;
    }

    .phone_map_word p{
        font-size: 18px;
    }

    .crewBox{
        width: 450px;
    }

    .popupBox{
        width: 80%;
    }

    .crew_close{
        width: 40px;
    }

    #popup1_intro{
        width: 90%;
        font-size: 18px;
    }

    .crew_word p{
        font-size: 20px;
        bottom: 77px;
        left: 30px;
    }

    .teacher{
        display: block;
        width: 90%;
        height: 400px;
        margin: 70px auto 50px;
    }

    .teacherLeft{
        width: 100%;
        margin: 0 auto 25px;
        text-align: center;
        padding-right: 0px;
    }
    
    .teacherRight{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 0px;
    }

    .teacher p{
        margin: 0 auto;
    }

}

@media screen and (max-width:500px){
    .idea{
        width: 300px;
    }

    .idea p{
        font-size: 14px;
        letter-spacing: 2px;
    }

    #idea h1,#place h1{
        font-size: 26px;
    }

    .fans{
        width: 30px;
    }

    .br{
        height: 14px;
    }

    .br_500{
        display: block;
        height: 14px;
    }

    #en-h2{
        font-size: 12px;
    }

    #cloud{
        bottom:250px;
    }

    #beer{
        width: 80px;
        top:-60px;
        right: -50px;
    }

    .mapBox{
        margin-top: 35px;
        width: 100%;
    }

    .map{
        height: 47vw;
    }

    .map h3{
        font-size: 18px;
        position: relative;
        left: 8px;
        letter-spacing: 5px;
    }

    .phone_map_word h2{
        font-size: 22px;
        margin: 0;
    }

    .phone_map_word p{
        font-size: 14px;
    }

    .phone_map_word_br{
        display: block;
    }

    .popupBox{
        width: 90%;
    }

    #crew_popup1 .people{
        height: 320px;
    }

    .popup p{
        top: 10px;
        width: 90%;
        margin-bottom: 50px;
    }

    .popup h3{
        top: 0;
    }

    .crew_wood{
        top: 80px;
    }

    .people{
        margin: 0 auto;
    }

    .people span{
        top: 190px;
    }

    #crew_popup3 h3{
        top: 12px;
    }

    .crew{
        position: relative;
        left: 0;
    }
    
    .crewBox{
        width: 280px;
        height: 600px;
    }

    .crew_word{
        width: 45%;
    }

    .crew_word p{
        bottom: 75px;
        left: 26px;
    }

    #crew3{
        position: relative;
        left: 5px;
    }

    #teamBox{
        height: 1000px;
    }

    #idea{
        height: 470px;
    }

    .phone_footer{
        padding-bottom: 0px;
    }

    .teacherWord img{
        width: 50px;
    }

    .teacherWord span{
        font-size: 30px;
    }

    .teacher h4{
        font-size: 30px;
    }

    .teacher p{
        font-size: 18px;
        width: 280px;
        margin-top: 20px;
    }

}