*,h1,h3{
    font-family: "Noto Serif TC", serif;
}

#menu a{
    position: absolute;
    left: 50%;
}

.section1{
    width: 100%;
    position: relative;
}

.section1-title{
    width: 100%;
    margin-left: 100px;    

}

.choose{
    width: 272px;
    text-align: center;
    margin: 25px auto;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.choose h2,p{
    display: inline;
    font-size: 20px;
}

.choose a{
    text-decoration: none;
    color: #ffffff;
}

.choose a:hover{
    color: #BFA584;
}

.video{
    margin: 30px auto 0;
    padding-top: 20px;
}

.video3,.reels{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid white;
}

.videoBox{
    width:33%;
    position: relative;
    border-right: 2px solid white;
    padding: 80px 50px 80px;
    text-align: center;

}
.video3 .videoBox iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.videoBox p{
    font-size: 14px;
    position: absolute;
    left: 5%;
    top: 5%;
    letter-spacing: 3px;
}


.cover-image{
    position: relative;
}

.play-button{
    position: absolute;
    left: 0;
    top: 0;
}

.cover-image img{
    width: 100%;
    height: auto;
    display: block;
}

.cover{
    border-radius: 10px;
}

.cover:hover{
    opacity: 50%;
    cursor: pointer;
}

/* .videoBox span{
    position: absolute;
    right: -8px;
    top: 0;
    font-size: 14px;
    color: #999999;
} */
