*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    overflow:hidden;
    font-family: "Noto Serif TC", serif;
    letter-spacing: 8px;
    text-indent: 8px;
    background-color: #1E293B;
    color: white;
}

#menu{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

#menu_icon{
    transition: transform 0.5s ease-out;
}

#menu_icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#sidebar{
    background-color: white;
    background-size: 100%;
    border-radius: 10px;
    width: 200px;
    height: 375px;
    position: fixed;
    top: 12%;
    left: 2%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

#sidebar a,#sidebar p{
    position: absolute;
    left:18%;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 3px;
    color: #1E293B;
}

#sidebar a:hover{
    color:#BFA584;
}



.footer {
    background-color: #1C1C1B;
    height: 250px;
    text-align: center; 
    padding: 20px 0; 
    font-size: 1rem;
    letter-spacing: 3px;
    margin-top: -30px;
    border-radius: 40px 40px 0 0;
   
}

.footer_element{
    width: 300px;
    margin: 50px auto;
}

.footer p, .footer a{
    color: #ffffff;
    font-size: 12px;
    display: inline;
}

.footer_inner{
    text-align: left;
    margin-top: 10px;
}

/* -------------------手機版------------------ */

@media screen and (max-width:768px){
    .overlay a{
        font-size: 32px;
    }

    .overlay p {
        height: 40px;
    }

    #font-size{
        font-size: 26px;
    }

    .about{
        height: 300px;
    }

    .footer {
        font-size: 0.9rem;  /* 在小螢幕上稍微調小字體 */
    }
    .instagram-icon {
        width: 25px;  /* 在手機上略微縮小圖示 */
    }
}

@media screen and (max-width:500px){
    #phone_menu{
        width: 125px;
        left: 0;
    }

    .overlay a{
        font-size: 26px;
        margin-bottom: 0;
        height: 40px;
    }

    .overlay p {
        height: 30px;
        position: relative;
        bottom: 100px;
    }

    .about{
        height: 190px;
        bottom: 75px;
    }

    #font-size{
        font-size: 20px;
    }

}