*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    overflow:hidden;
    font-family: "Noto Serif TC", serif;
    letter-spacing: 8px;
    text-indent: 8px;
    background-color: #1E293B;
    color: white;
}

#menu{
    text-align: right;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 35px;
}

#menu_icon,#santon{
    transition: transform 0.5s ease-out;
}

#menu_icon:hover,#santon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#sidebar{
    background-color: white;
    background-size: 100%;
    border-radius: 10px;
    width: 200px;
    height: 375px;
    position: fixed;
    top: 12%;
    right: 2%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

#sidebar a,#sidebar p{
    position: absolute;
    left:18%;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 3px;
    color: #1E293B;
}

#sidebar a:hover{
    color:#BFA584;
}



.footer {
    background-color: #1C1C1B;
    height: 250px;
    text-align: center; 
    padding: 20px 0; 
    font-size: 1rem;
    letter-spacing: 3px;
    border-radius: 40px 40px 0 0;
   
}

.footer_element{
    width: 300px;
    margin: 50px auto;
}

.footer p, .footer a{
    color: #ffffff;
    font-size: 12px;
    display: inline;
}

.footer_inner{
    text-align: left;
    margin-top: 10px;
}

/* -------------------手機版------------------ */

@media screen and (max-width:768px){

}

@media screen and (max-width:500px){
    

}