*{
    box-sizing: border-box;
}

@font-face{
    font-family: LucidaGrande;
    src: url(./ttc/LucidaGrande.woff2);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    overflow:hidden;
    height: auto;
    font-family: "Noto Serif TC";
    letter-spacing: 8px;
    text-indent: 8px;
    background-color: #1E293B;
    color: white;
}

#com_nav{
    margin: 10px auto;
    background-color:#1E293B;
    display: flex;
}

.nav_left{
    justify-content:space-around;
    width:20%;
    margin-left:50px;
}

.nav_left img{
    width: 80px;
}

.nav_right{
    justify-content:space-around;
    width:80%;
    text-align:right;
    margin-right: 100px;
    line-height: 80px;
}

.nav_about{
    display: inline;
    margin-left: 40px;
}

.nav_about a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav_about a:hover{
    color:#ffde85;
}

#phone_nav{
    display: none;
}

#sidebar{
    background-image: url(./photo/menu_bg.jpg);
    background-size: 100%;
    width: 200px;
    height: 375px;
    position: fixed;
    top: 20%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#sidebar a{
    position: absolute;
    left:25%;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 3px;
}

#sidebar a:hover{
    color:#c38947;
}

#com_menu{
    width: 200px;
    height: 375px;
    line-height: 375px;
    position: fixed;
    left: 10px;
    top: 20vh;
    z-index: 1;
}

.empty{
    display:none;
}

.footerTop{
    text-align: center;
    position: relative;
}

.footerTop p{
    font-size:28px;
}

.footerTop p:nth-last-child(3){
    font-size:14px;
}

#top{
    position: absolute;
    bottom: 20%;
    right: 5%;
    cursor: pointer;
}

#line{
    margin-top:50px;
}

.com_footer{
    width: 90%;
    margin: 50px auto;
}

.com_footer p{
    margin:25px 0;
}

.footerTime{
    font-size: 14px;
    letter-spacing: 4px;
}

.sponsor{
    clear: both;
    width: 100%;
    text-align: center;
}

.sponsor img{
    margin-top:50px ;
    margin-left: 25px;
    width: 70px;
}

.phone_footer{
    display: none;
}

/* ------------沒有贊助商要加---------------- */
.com_footer{
    height: 180px;
}

.footerRight{
    margin-bottom: 30px;
}

/* -------------------手機版------------------ */

@media screen and (max-width:1024px){
    #com_nav, #com_menu,#sidebar{
        display: none;
    }

    #phone_nav{
        display: block;
        width: 100%;
        text-align: center;
        background-color:#0E1E3C ;
        position: fixed;
        height: 100px;
        line-height: 100px;
        z-index: 1;
        box-shadow: 0px 1px 5px #071329;
    }

    #phone_menu{
        position: fixed;
        left: 2%;
        top: 2%;
    }

    .overlay{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(180, 144, 105,0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .overlay-content{
        position: relative;
        top:0;
        width:100%;
        text-align: center;
    }
    
    .overlay a{
        text-decoration: none;
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .overlay a:hover{
        color: #0E1E3C;
    }

    .overlay p {
        height: 50px;
        position: relative;
        bottom: 100px;
    }

    .about{
        height: 350px;
        position: relative;
        bottom: 50px;
    }

    #font-size{
        font-size: 30px;
    }
    
    .overlay a:focus{
        color: #f1f1f1;
    }

    #phone_logo{
        clear: both;
        margin: 0 auto;
    }

    .empty{
        display: block;
        height: 100px;
    }

    #menu{
        display: none;
    }

    #top{
        width: 25px;
    }

    .footerTop p{
        font-size:24px;
    }
    
    .footerTop p:nth-last-child(3){
        font-size:10px;
    }

    .com_footer{
        display: none;
    }

    .phone_footer{
        display: block;
        padding-bottom: 80px;
    }

    .footerUp,.footerDown{
        display: flex;
        letter-spacing: 2px;
        text-indent: 0px;
        width: 100%;
        height: 300px;
    }

    #footerUpLeft,#footerDownRight{
        justify-content: space-around;
        display:inline;
        width:35%;
        position: relative;
        margin-right: 15px;
    }

    #footerDownRight{
        margin-right:0 ;
    }

    #footerUpRight,#footerDownLeft{
        justify-content:space-around;
        display: flex;
        width:65%;
        margin-top:50px;
    }

    #phone_footer{
        margin-left: 50px;
        margin-top: 15px;
    }

    #footerUpRight_Left,#footerDownLeft_Left{
        justify-content: space-around;
        width:25%;
        font-size:28px;
        text-align:center;
        margin-left: 15px;
    }

    #footerUpRight_Right,#footerDownLeft_Right{
        justify-content: space-around;
        width:75%;
        margin-top:30px;
        margin-right:10px;
    }

    #footerUpRight_Right{
        margin-right:20px;
    }

    #footerUpRight_Right span,#footerDownLeft_Right span{
        display: block;
        font-size: 22px;
    }

    #phone_footer2{
        float: right;
        margin-right: 50px;
        margin-top: 30px;
    }
}

@media screen and (max-width:768px){
    .overlay a{
        font-size: 32px;
    }

    .overlay p {
        height: 40px;
    }

    #font-size{
        font-size: 26px;
    }

    .about{
        height: 300px;
    }

    #phone_footer{
        margin-left: 15px;
        margin-top: 15px;
        width: 175px;
    }

    .footerUp,.footerDown{
        height: 250px;
    }
    
    #footerUpRight,#footerDownLeft{
        margin-top:35px;
    }

    #footerUpRight_Left,#footerDownLeft_Left{
        font-size:24px;
    }

    #footerUpRight_Right,#footerDownLeft_Right{
        margin-top:28px;
        margin-left: 25px;
    }

    #footerUpRight_Right span,#footerDownLeft_Right span{
        display: block;
        font-size: 18px;
    }

    #phone_footer2{
        width: 200px;
        margin-right: 15px;
    }

    .sponsor img{
        width: 60px;
    }
}

@media screen and (max-width:500px){
    #phone_menu{
        width: 125px;
        left: 0;
    }

    .overlay a{
        font-size: 26px;
        margin-bottom: 0;
        height: 40px;
    }

    .overlay p {
        height: 30px;
        position: relative;
        bottom: 100px;
    }

    .about{
        height: 190px;
        bottom: 75px;
    }

    #font-size{
        font-size: 20px;
    }

    .about img,.aboutworks img{
        width: 200px;
    }
    
    .footerTop p{
        font-size:14px;
        letter-spacing: 5px;
    }
    
    .footerTop p:nth-last-child(3){
        font-size:10px;
    }

    #FB{
        width: 30px;
        margin-top: 10px;
    }

    #line{
        margin-top:100px;
    }

    #top{
        width: 20px;
        bottom: 10%;
    }

    .footerUp,.footerDown{
        height: 200px;
    }

    .footerUp{
        margin-top: 25px;
    }

    #phone_footer{
        margin-top: 15px;
        width: 100px;
    }

    #footerUpRight_Left,#footerDownLeft_Left{
        font-size:16px;
    }

    #footerUpRight_Left{
        margin-left: 0;
    }
    
    #footerUpRight,#footerDownLeft{
        margin-top: 0px;
    }

    #footerUpRight_Right,#footerDownLeft_Right{
        margin-top: 18px;
        margin-left: 10px;
    }

    #footerUpRight_Right span,#footerDownLeft_Right span{
        font-size: 12px;
    }

    #phone_footer2{
        width: 120px;
        margin-top: 15px;
        margin-right: 0;
    }

    .sponsor img{
        width: 35px;
        margin-left: 10px;
        margin-top:0px ;
    }

}